@(formKokyakuInfo: Form[models.entities.KokyakuInfo],
mapServiceInfo: Map[String,List[models.entities.NewServiceInfo]],
formWizardInputInfo: Form[models.input.WizardInputInfo]
)

@import helper._

<html>
<head>
</head>
<body>
	<div id="PSCR0021" class="box line">
			<table width="100%" border="0" cellspacing="2" cellpadding="3">
				<tr>
					<td width="25%" bgcolor="#898989" class="white"></td>
					<td width="20%" bgcolor="#898989" class="white">変更前</td>
					<td width="20%" bgcolor="#73A3EB" class="white">変更後</td>
					<td bgcolor="#73A3EB" class="white"></td>
				</tr>
				<tr>
					<td bgcolor="#D6D6D6">ご利用プラン</td>
					<td bgcolor="#D6D6D6">
@if(formKokyakuInfo.get().keiyakuInfo.size() != 0){
	@if(formKokyakuInfo.get().keiyakuInfo(0).serviceInfo.size() != 0){
		@if(formKokyakuInfo.get().keiyakuInfo(0).serviceInfo(0).svcKaisen.size() != 0){
			@for(ServLst <- formKokyakuInfo.get().keiyakuInfo(0).serviceInfo(0).svcKaisen) {
						<p>@(ServLst.riyouCourse)</p>
						<p>@(ServLst.riyouPlan)</p>
			}
		}
	}
}
					</td>
					<td bgcolor="#D1E0F8">@formWizardInputInfo("inputRiyouCourseName").value</td>
					<td bgcolor="#D1E0F8">
						<input id="riyouCourseNameNoSelect" class="clsRiyouCourseName" name="riyouCourseName" type="radio" value="1" checked="checked">
							<label for="riyouCourseNameNoSelect">未選択</label>
						<input id="riyouCourseNameOK" class="clsRiyouCourseName" name="riyouCourseName" type="radio" value="2">
							<label for="riyouCourseNameOK">OK</label>
						<input id="riyouCourseNameNG" class="clsRiyouCourseName" name="riyouCourseName" type="radio" value="3">
							<label for="riyouCourseNameNG">NG不備</label>
					</td>
				</tr>
				<tr>
					<td bgcolor="#D6D6D6">IPv6アダプタ</td>
					<td bgcolor="#D6D6D6">
@if(formKokyakuInfo.get().keiyakuInfo.size() != 0){
	@if(formKokyakuInfo.get().keiyakuInfo(0).serviceInfo.size() != 0){
		@if(formKokyakuInfo.get().keiyakuInfo(0).serviceInfo(0).svcKaisen.size() != 0){
			@for(ServLst <- formKokyakuInfo.get().keiyakuInfo(0).serviceInfo(0).svcKaisen) {
						<p>@(ServLst.ipv6Adapter)</p>
			}
		}
	}
}
					</td>
					<td bgcolor="#A3C2F1">
@if(formKokyakuInfo.get().keiyakuInfo.size() != 0){
	@if(formKokyakuInfo.get().keiyakuInfo(0).serviceInfo.size() != 0){
		@if(formKokyakuInfo.get().keiyakuInfo(0).serviceInfo(0).svcKaisen.size() != 0){
			@for(ServLst <- formKokyakuInfo.get().keiyakuInfo(0).serviceInfo(0).svcKaisen) {
						<p>@(ServLst.ipv6Adapter)</p>
			}
		}
	}
}
					</td>
					<td bgcolor="#A3C2F1">
						<input id="iPv6AdapterNoSelect" class="clsIPv6Adapter" name="iPv6Adapter" type="radio" value="1" checked="checked">
							<label for="iPv6AdapterNoSelect">未選択</label>
						<input id="iPv6AdapterOK" class="clsIPv6Adapter" name="iPv6Adapter" type="radio" value="2">
							<label for="iPv6AdapterOK">OK</label>
						<input id="iPv6AdapterNG" class="clsIPv6Adapter" name="iPv6Adapter" type="radio" value="3">
							<label for="iPv6AdapterNG">NG不備</label>
					</td>
				</tr>
			</table>
			<table width="100%" border="0" cellspacing="2" cellpadding="3" class="mt20">
				<tr>
					<td width="25%" bgcolor="#898989" class="white"></td>
					<td width="20%" bgcolor="#898989" class="white">移転前</td>
					<td width="20%" bgcolor="#73A3EB" class="white">移転後</td>
					<td bgcolor="#73A3EB" class="white"></td>
				</tr>
@if(formKokyakuInfo.get().keiyakuInfo(0) != null){
	@if(formKokyakuInfo.get().keiyakuInfo(0).serviceInfo.size() != 0){
		@if(formKokyakuInfo.get().keiyakuInfo(0).serviceInfo(0).svcMail.size() != 0){
			@for(servLst <- formKokyakuInfo.get().keiyakuInfo(0).serviceInfo(0).svcMail) {
				<tr>
					<td bgcolor="#D6D6D6">@servLst.serviceMaster.serviceMeishou</td>
					<td bgcolor="#D6D6D6">@servLst.mailaddress
					</td>
					<td bgcolor="#D1E0F8">@servLst.mailaddress</td>
					<td bgcolor="#D1E0F8">
						<input class="clsMail" name="mail" type="radio" value="1" checked="checked">
							<label for="mailNoSelect">未選択</label>
						<input class="clsMail" name="mail" type="radio" value="2">
							<label for="mailOK">OK</label>
						<input class="clsMail" name="mail" type="radio" value="3">
							<label for="mailNG">NG不備</label>
					</td>
				</tr>
			}
		}
	}
}
			</table>
	</div>
	<!-- これ以降は、STEP４で削除します。Wizardで反映させるための項目 -->
	<input type="hidden" name="ttPhoneStatus" value="">
	<input type="hidden" name="sokuwari15" value="">
</body>
</html>
