@()

@import helper._

<html>
<head>
</head>
<body>	
	<div class="box line">
		<form id="updateTaiouRirekiForm" method="post">
		<table width="100%" border="0" cellspacing="2" cellpadding="3">
			<tr>
				<th width="50%" height="20" align="center" bgcolor="#D02222" style="color:#FFFFFF;">対応内容</th>
				<th width="50%" height="20" align="center" bgcolor="#D02222" style="color:#FFFFFF;">対応結果</th>
			</tr>
			<tr>
				<td width="50%" align="left" valign="top" bgcolor="#D98686"><textarea id="txtAreaTaiouNaiyou" name="taiouNaiyou" rows="33" class="ph2 t_area" title="" style="width:97%;"></textarea></td>
				<td width="50%" align="left" valign="top" bgcolor="#E9E6D6"><textarea id="txtAreaTaiouKekka" name="taiouKekka" rows="33" class="ph2 t_area" title="" style="width:97%;" readonly></textarea></td>
			</tr>
		</table>
		</form>
	</div>
</body>