@()
@import helper._

<html>
<head>
</head>
<body>
	<div id="win3" class="jqDnR">
		<div class="jqHandle jqDrag"></div>
		<h2>売掛金情報</h2>
		<p class="btn_close2"><a href="#" onClick="w_close3()"><img src="/images/btn_close.gif"></a></p>
		<div class="box">
			<table width="100%" border="0" cellspacing="2" cellpadding="3">
				<tr>
					<td width="10%" bgcolor="#72a3ea" class="white">請求年月</td>
					<td width="20%" bgcolor="#72a3ea" class="white">支払講座</td>
					<td width="10%" bgcolor="#72a3ea" class="white">金額<br>
				    (振込)</td>
					<td width="15%" bgcolor="#72a3ea" class="white">振替日/<br>
					    受領日</td>
					<td width="15%" bgcolor="#72a3ea" class="white">電算処理日</td>
				    <td width="30%" bgcolor="#72a3ea" class="white">備考</td>
				</tr>
				<tr>
					<td bgcolor="#D1E0F8"><a href="4.html">2013.10.20</a></td>
					<td bgcolor="#D1E0F8"><a href="4.html">口座振替</a></td>
					<td bgcolor="#D1E0F8">0000</td>
					<td bgcolor="#D1E0F8">2013.10.20</td>
					<td bgcolor="#D1E0F8">2013.10.20</td>
				    <td bgcolor="#D1E0F8">○○○○</td>
				</tr>
				<tr>
					<td bgcolor="#A3C2F1"><a href="4.html">2013.10.20</a></td>
					<td bgcolor="#A3C2F1"><a href="4.html">口座振替</a></td>
					<td bgcolor="#A3C2F1">0000</td>
					<td bgcolor="#A3C2F1">オペB</td>
					<td bgcolor="#A3C2F1">2013.10.20</td>
				    <td bgcolor="#A3C2F1">○○○○</td>
				</tr>
				<tr>
					<td bgcolor="#D1E0F8"><a href="4.html">2013.10.20</a></td>
					<td bgcolor="#D1E0F8"><a href="4.html">口座振替</a></td>
					<td bgcolor="#D1E0F8">0000</td>
					<td bgcolor="#D1E0F8">オペA</td>
					<td bgcolor="#D1E0F8">2013.10.20</td>
				    <td bgcolor="#D1E0F8">○○○○</td>
				</tr>
				<tr>
					<td bgcolor="#A3C2F1"><a href="4.html">2013.10.20</a></td>
					<td bgcolor="#A3C2F1"><a href="4.html">口座振替</a></td>
					<td bgcolor="#A3C2F1">0000</td>
					<td bgcolor="#A3C2F1">システム</td>
					<td bgcolor="#A3C2F1">2013.10.20</td>
				    <td bgcolor="#A3C2F1">○○○○</td>
				</tr>
				<tr>
					<td bgcolor="#D1E0F8"><a href="4.html">2013.10.20</a></td>
					<td bgcolor="#D1E0F8"><a href="4.html">口座振替</a></td>
					<td bgcolor="#D1E0F8">0000</td>
					<td bgcolor="#D1E0F8">システム</td>
					<td bgcolor="#D1E0F8">2013.10.20</td>
				    <td bgcolor="#D1E0F8">○○○○</td>
				</tr>
				<tr>
					<td bgcolor="#A3C2F1"><a href="4.html">2013.10.20</a></td>
					<td bgcolor="#A3C2F1"><a href="4.html">口座振替</a></td>
					<td bgcolor="#A3C2F1">0000</td>
					<td bgcolor="#A3C2F1">A～1</td>
					<td bgcolor="#A3C2F1">2013.10.20</td>
				    <td bgcolor="#A3C2F1">○○○○</td>
				</tr>
				<tr>
					<td bgcolor="#D1E0F8"><a href="4.html">2013.10.20</a></td>
					<td bgcolor="#D1E0F8"><a href="4.html">口座振替</a></td>
					<td bgcolor="#D1E0F8">0000</td>
					<td bgcolor="#D1E0F8">オペC</td>
					<td bgcolor="#D1E0F8">2013.10.20</td>
				    <td bgcolor="#D1E0F8">○○○○</td>
				</tr>
				<tr>
					<td bgcolor="#A3C2F1"><a href="4.html">2013.10.20</a></td>
					<td bgcolor="#A3C2F1"><a href="4.html">口座振替</a></td>
					<td bgcolor="#A3C2F1">0000</td>
					<td bgcolor="#A3C2F1">A～1</td>
					<td bgcolor="#A3C2F1">2013.10.20</td>
				    <td bgcolor="#A3C2F1">○○○○</td>
				</tr>
				<tr>
					<td bgcolor="#D1E0F8"><a href="4.html">2013.10.20</a></td>
					<td bgcolor="#D1E0F8"><a href="4.html">口座振替</a></td>
					<td bgcolor="#D1E0F8">0000</td>
					<td bgcolor="#D1E0F8">A~1</td>
					<td bgcolor="#D1E0F8">2013.10.20</td>
				    <td bgcolor="#D1E0F8">○○○○</td>
				</tr>
				<tr>
					<td bgcolor="#A3C2F1"><a href="4.html">2013.10.20</a></td>
					<td bgcolor="#A3C2F1"><a href="4.html">口座振替</a></td>
					<td bgcolor="#A3C2F1">0000</td>
					<td bgcolor="#A3C2F1">オペA</td>
					<td bgcolor="#A3C2F1">2013.10.20</td>
				    <td bgcolor="#A3C2F1">○○○○</td>
				</tr>
				<tr>
					<td bgcolor="#D1E0F8"><a href="4.html">2013.10.20</a></td>
					<td bgcolor="#D1E0F8"><a href="4.html">口座振替</a></td>
					<td bgcolor="#D1E0F8">0000</td>
					<td bgcolor="#D1E0F8">システム</td>
					<td bgcolor="#D1E0F8">2013.10.20</td>
				    <td bgcolor="#D1E0F8">○○○○</td>
				</tr>
				<tr>
					<td bgcolor="#A3C2F1"><a href="4.html">2013.10.20</a></td>
					<td bgcolor="#A3C2F1"><a href="4.html">口座振替</a></td>
					<td bgcolor="#A3C2F1">0000</td>
					<td bgcolor="#A3C2F1">オペB</td>
					<td bgcolor="#A3C2F1">2013.10.20</td>
				    <td bgcolor="#A3C2F1">○○○○</td>
				</tr>
				<tr>
					<td bgcolor="#D1E0F8"><a href="4.html">2013.10.20</a></td>
					<td bgcolor="#D1E0F8"><a href="4.html">口座振替</a></td>
					<td bgcolor="#D1E0F8">0000</td>
					<td bgcolor="#D1E0F8">オペA</td>
					<td bgcolor="#D1E0F8">2013.10.20</td>
				    <td bgcolor="#D1E0F8">○○○○</td>
				</tr>
				<tr>
					<td bgcolor="#A3C2F1"><a href="4.html">2013.10.20</a></td>
					<td bgcolor="#A3C2F1"><a href="4.html">口座振替</a></td>
					<td bgcolor="#A3C2F1">0000</td>
					<td bgcolor="#A3C2F1">システム</td>
					<td bgcolor="#A3C2F1">2013.10.20</td>
				    <td bgcolor="#A3C2F1">○○○○</td>
				</tr>
				<tr>
					<td bgcolor="#D1E0F8"><a href="4.html">2013.10.20</a></td>
					<td bgcolor="#D1E0F8"><a href="4.html">口座振替</a></td>
					<td bgcolor="#D1E0F8">0000</td>
					<td bgcolor="#D1E0F8">システム</td>
					<td bgcolor="#D1E0F8">2013.10.20</td>
				    <td bgcolor="#D1E0F8">○○○○</td>
				</tr>
				<tr>
					<td bgcolor="#A3C2F1"><a href="4.html">2013.10.20</a></td>
					<td bgcolor="#A3C2F1"><a href="4.html">口座振替</a></td>
					<td bgcolor="#A3C2F1">0000</td>
					<td bgcolor="#A3C2F1">A~1</td>
					<td bgcolor="#A3C2F1">2013.10.20</td>
				    <td bgcolor="#A3C2F1">○○○○</td>
				</tr>
				<tr>
					<td bgcolor="#D1E0F8"><a href="4.html">2013.10.20</a></td>
					<td bgcolor="#D1E0F8"><a href="4.html">口座振替</a></td>
					<td bgcolor="#D1E0F8">0000</td>
					<td bgcolor="#D1E0F8">オペA</td>
					<td bgcolor="#D1E0F8">2013.10.20</td>
				    <td bgcolor="#D1E0F8">○○○○</td>
				</tr>
				<tr>
					<td bgcolor="#A3C2F1"><a href="4.html">2013.10.20</a></td>
					<td bgcolor="#A3C2F1"><a href="4.html">口座振替</a></td>
					<td bgcolor="#A3C2F1">0000</td>
					<td bgcolor="#A3C2F1">A~1</td>
					<td bgcolor="#A3C2F1">2013.10.20</td>
				    <td bgcolor="#A3C2F1">○○○○</td>
				</tr>
				<tr>
					<td bgcolor="#D1E0F8"><a href="4.html">2013.10.20</a></td>
					<td bgcolor="#D1E0F8"><a href="4.html">口座振替</a></td>
					<td bgcolor="#D1E0F8">0000</td>
					<td bgcolor="#D1E0F8">システム</td>
					<td bgcolor="#D1E0F8">2013.10.20</td>
				    <td bgcolor="#D1E0F8">○○○○</td>
				</tr>
				<tr>
					<td bgcolor="#A3C2F1"><a href="4.html">2013.10.20</a></td>
					<td bgcolor="#A3C2F1"><a href="4.html">口座振替</a></td>
					<td bgcolor="#A3C2F1">0000</td>
					<td bgcolor="#A3C2F1">オペB</td>
					<td bgcolor="#A3C2F1">2013.10.20</td>
				    <td bgcolor="#A3C2F1">○○○○</td>
				</tr>
			</table>
		</div>
		<div class="jqHandle jqResize"></div>
	</div>
</body>
</html>