<div id="header_contents">
	<div id="mypage_control_panel">
		<form>
			<ul>
				<li>
					<select name="setting_id">
						<option value="first">設定１</option>
						<option value="second">設定２</option>
					</select>
				</li>
				<li><input type="button" value="保存" onClick="javascript:mypage.save(this);return false;"></li>
				<li><input type="button" value="復元" onClick="javascript:mypage.load(this);return false;"></li>
				<li><input type="button" value="デフォ" onClick="javascript:mypage.reset();return false;"></li>
				<li class="array"><input type="button" value="整列"></li>
				<li class="all-open"><input type="button" value="すべて表示"></li>
				<li class="all-close"><input type="button" value="すべて閉じる"></li>
			</ul>
		</form>
	</div>
</div>
