@()
@import helper._

<html>
<head>
</head>
<body>
	<div id="win2" class="jqDnR">
		<div class="jqHandle jqDrag"></div>
		<h2>顧客各種履歴</h2>
		
		<p class="btn_close2"><a href="#" onClick="w_close2()"><img src="/images/btn_close.gif"></a></p>
		
		<p class="txt">すべて表示 | <span class="red">対応履歴</span> | <span class="green">通知履歴</span> | <span class="orange">作業履歴</span></p>
		
		<div class="box line">
			<table width="100%" border="0" cellspacing="2" cellpadding="3">
				<tr>
					<td width="5%" bgcolor="#72a3ea" class="white">No</td>
					<td width="10%" bgcolor="#72a3ea" class="white">種別</td>
					<td width="20%" bgcolor="#72a3ea" class="white">登録日</td>
					<td width="20%" bgcolor="#72a3ea" class="white">登録者</td>
					<td width="45%" bgcolor="#72a3ea" class="white">内容</td>
				</tr>
				<tr>
					<td width="5%" bgcolor="#D1E0F8"><a href="5.html">1</a></td>
					<td width="10%" bgcolor="#D1E0F8"><span class="red"><a href="5.html">対応</a></span></td>
					<td width="20%" bgcolor="#D1E0F8">2013.9.15</td>
					<td width="20%" bgcolor="#D1E0F8">オペA</td>
					<td width="45%" bgcolor="#D1E0F8">○○○○○○</td>
				</tr>
				<tr>
					<td width="5%" bgcolor="#A3C2F1"><a href="5.html">2</a></td>
					<td width="10%" bgcolor="#A3C2F1"><span class="red"><a href="5.html">対応</a></span></td>
					<td width="20%" bgcolor="#A3C2F1">2013.9.02</td>
					<td width="20%" bgcolor="#A3C2F1">オペB</td>
					<td width="45%" bgcolor="#A3C2F1">○○○○○○</td>
				</tr>
				<tr>
					<td width="5%" bgcolor="#D1E0F8"><a href="5.html">3</a></td>
					<td width="10%" bgcolor="#D1E0F8"><span class="red"><a href="5.html">対応</a></span></td>
					<td width="20%" bgcolor="#D1E0F8">2013.7.20</td>
					<td width="20%" bgcolor="#D1E0F8">オペA</td>
					<td width="45%" bgcolor="#D1E0F8">○○○○○○</td>
				</tr>
				<tr>
					<td width="5%" bgcolor="#A3C2F1"><a href="5.html">4</a></td>
					<td width="10%" bgcolor="#A3C2F1"><span class="green"><a href="5.html">通知</a></span></td>
					<td width="20%" bgcolor="#A3C2F1">2013.5.12</td>
					<td width="20%" bgcolor="#A3C2F1">システム</td>
					<td width="45%" bgcolor="#A3C2F1">○○○○○○</td>
				</tr>
				<tr>
					<td width="5%" bgcolor="#D1E0F8"><a href="5.html">5</a></td>
					<td width="10%" bgcolor="#D1E0F8"><span class="green"><a href="5.html">通知</a></span></td>
					<td width="20%" bgcolor="#D1E0F8">2013.01.02</td>
					<td width="20%" bgcolor="#D1E0F8">システム</td>
					<td width="45%" bgcolor="#D1E0F8">○○○○○○</td>
				</tr>
				<tr>
					<td width="5%" bgcolor="#A3C2F1"><a href="5.html">6</a></td>
					<td width="10%" bgcolor="#A3C2F1"><span class="orange"><a href="5.html">作業</a></span></td>
					<td width="20%" bgcolor="#A3C2F1">2012.09.22</td>
					<td width="20%" bgcolor="#A3C2F1">A～1</td>
					<td width="45%" bgcolor="#A3C2F1">○○○○○○</td>
				</tr>
				<tr>
					<td width="5%" bgcolor="#D1E0F8"><a href="5.html">7</a></td>
					<td width="10%" bgcolor="#D1E0F8"><span class="red"><a href="5.html">対応</a></span></td>
					<td width="20%" bgcolor="#D1E0F8">2012.05.01</td>
					<td width="20%" bgcolor="#D1E0F8">オペC</td>
					<td width="45%" bgcolor="#D1E0F8">○○○○○○</td>
				</tr>
				<tr>
					<td width="5%" bgcolor="#A3C2F1"><a href="5.html">8</a></td>
					<td width="10%" bgcolor="#A3C2F1"><span class="orange"><a href="5.html">作業</a></span></td>
					<td width="20%" bgcolor="#A3C2F1">2012.02.01</td>
					<td width="20%" bgcolor="#A3C2F1">A～1</td>
					<td width="45%" bgcolor="#A3C2F1">○○○○○○</td>
				</tr>
				<tr>
					<td width="5%" bgcolor="#D1E0F8"><a href="5.html">9</a></td>
					<td width="10%" bgcolor="#D1E0F8"><span class="orange"><a href="5.html">作業</a></span></td>
					<td width="20%" bgcolor="#D1E0F8">2011.11.15</td>
					<td width="20%" bgcolor="#D1E0F8">A~1</td>
					<td width="45%" bgcolor="#D1E0F8">○○○○○○</td>
				</tr>
				<tr>
					<td width="5%" bgcolor="#A3C2F1"><a href="5.html">10</a></td>
					<td width="10%" bgcolor="#A3C2F1"><span class="red"><a href="5.html">対応</a></span></td>
					<td width="20%" bgcolor="#A3C2F1">2011.11.15</td>
					<td width="20%" bgcolor="#A3C2F1">オペA</td>
					<td width="45%" bgcolor="#A3C2F1">○○○○○○</td>
				</tr>
				<tr>
					<td width="5%" bgcolor="#D1E0F8"><a href="5.html">11</a></td>
					<td width="10%" bgcolor="#D1E0F8"><span class="green"><a href="5.html">通知</a></span></td>
					<td width="20%" bgcolor="#D1E0F8">2011.11.15</td>
					<td width="20%" bgcolor="#D1E0F8">システム</td>
					<td width="45%" bgcolor="#D1E0F8">○○○○○○</td>
				</tr>
				<tr>
					<td width="5%" bgcolor="#A3C2F1"><a href="5.html">12</a></td>
					<td width="10%" bgcolor="#A3C2F1"><span class="red"><a href="5.html">対応</a></span></td>
					<td width="20%" bgcolor="#A3C2F1">2011.11.15</td>
					<td width="20%" bgcolor="#A3C2F1">オペB</td>
					<td width="45%" bgcolor="#A3C2F1">○○○○○○</td>
				</tr>
				<tr>
					<td width="5%" bgcolor="#D1E0F8"><a href="5.html">13</a></td>
					<td width="10%" bgcolor="#D1E0F8"><span class="red"><a href="5.html">対応</a></span></td>
					<td width="20%" bgcolor="#D1E0F8">2011.11.15</td>
					<td width="20%" bgcolor="#D1E0F8">オペA</td>
					<td width="45%" bgcolor="#D1E0F8">○○○○○○</td>
				</tr>
				<tr>
					<td width="5%" bgcolor="#A3C2F1"><a href="5.html">14</a></td>
					<td width="10%" bgcolor="#A3C2F1"><span class="green"><a href="5.html">通知</a></span></td>
					<td width="20%" bgcolor="#A3C2F1">2011.11.15</td>
					<td width="20%" bgcolor="#A3C2F1">システム</td>
					<td width="45%" bgcolor="#A3C2F1">○○○○○○</td>
				</tr>
				<tr>
					<td width="5%" bgcolor="#D1E0F8"><a href="5.html">15</a></td>
					<td width="10%" bgcolor="#D1E0F8"><span class="green"><a href="5.html">通知</a></span></td>
					<td width="20%" bgcolor="#D1E0F8">2011.11.15</td>
					<td width="20%" bgcolor="#D1E0F8">システム</td>
					<td width="45%" bgcolor="#D1E0F8">○○○○○○</td>
				</tr>
				<tr>
					<td width="5%" bgcolor="#A3C2F1"><a href="5.html">16</a></td>
					<td width="10%" bgcolor="#A3C2F1"><span class="orange"><a href="5.html">作業</a></span></td>
					<td width="20%" bgcolor="#A3C2F1">2011.11.15</td>
					<td width="20%" bgcolor="#A3C2F1">A~1</td>
					<td width="45%" bgcolor="#A3C2F1">○○○○○○</td>
				</tr>
				<tr>
					<td width="5%" bgcolor="#D1E0F8"><a href="5.html">17</a></td>
					<td width="10%" bgcolor="#D1E0F8"><span class="red"><a href="5.html">対応</a></span></td>
					<td width="20%" bgcolor="#D1E0F8">2011.11.15</td>
					<td width="20%" bgcolor="#D1E0F8">オペA</td>
					<td width="45%" bgcolor="#D1E0F8">○○○○○○</td>
				</tr>
				<tr>
					<td width="5%" bgcolor="#A3C2F1"><a href="5.html">18</a></td>
					<td width="10%" bgcolor="#A3C2F1"><span class="orange"><a href="5.html">作業</a></span></td>
					<td width="20%" bgcolor="#A3C2F1">2011.11.15</td>
					<td width="20%" bgcolor="#A3C2F1">A~1</td>
					<td width="45%" bgcolor="#A3C2F1">○○○○○○</td>
				</tr>
				<tr>
					<td width="5%" bgcolor="#D1E0F8"><a href="5.html">19</a></td>
					<td width="10%" bgcolor="#D1E0F8"><span class="green"><a href="5.html">通知</a></span></td>
					<td width="20%" bgcolor="#D1E0F8">2011.11.15</td>
					<td width="20%" bgcolor="#D1E0F8">システム</td>
					<td width="45%" bgcolor="#D1E0F8">○○○○○○</td>
				</tr>
				<tr>
					<td width="5%" bgcolor="#A3C2F1"><a href="5.html">20</a></td>
					<td width="10%" bgcolor="#A3C2F1"><span class="red"><a href="5.html">対応</a></span></td>
					<td width="20%" bgcolor="#A3C2F1">2011.11.15</td>
					<td width="20%" bgcolor="#A3C2F1">オペB</td>
					<td width="45%" bgcolor="#A3C2F1">○○○○○○</td>
				</tr>
			</table>
		</div>
		<div class="jqHandle jqResize"></div>
	</div>
</body>
</html>